.wrapper {
  width: 200px;
  background-color: #fff;
}

.check {
  top: 5px;
  right: 5px;
  z-index: 2;
}

.image {
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
  background-size: cover;
}
